

* {
  font-style: italic;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
  font-size: 20px;
  padding: 10px;
  
}

#div1 {
  font-size: 2em;
}

input[type="button"] {
  font-size: 1.5em;
  
}

table {
  position: absolute;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  border-style: solid; border-width: 2px;
  padding: 10px;
  right: 0%;
}

#Denmark:hover {
  right: -20px;
  top: -25px;
  position: relative;
  border-style: solid; border-width: 2px;
  border-color: blue;
  
}


