
#min01 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 20px;
  
  font-size: 20px;
  border-style: solid; border-width: 1px;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;

}