* {
  margin: 0px;
  padding: 0;
}

div p {
  font-family: arial;
  font-weight: italic;
  font-size: 15px;
}

a:hover {
  color: red;
}

input[type="email"] {
  border-color:blue
}

input:focus{
  background-color:pink
}

#Nei:after {
  content: "Valgfritt";
}

input[type="checkbox"]:after {
  content: "Valgfritt";
}

input:nth-child(even) {
  background-color: rgb(134, 151, 134);
}