:root {
  --primary-bg-color: rgb(158, 75, 236); /* global scope */
  --primary-color: white; 
}


/*
transform: translate(50px, 0px) ---Displacement
transform: rotateXYZ(360deg) ---Rotate along given axis
transform: scale(1.5) ---Increase-decdrease size based on scaling
transform: skewxyz(120deg) ---squish

*/


.container1 {
  --scrollbar-track-color: rgb(217, 7, 7); 
  background-color: var(--scrollbar-track-color);
  
}

.card1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}

.card2 {
  font-family: oswald;
}

.card3 {
  font-family: ;
}

@property --property {
  syntax: "blue";
  inherits: false;
  initial-value: var(--scrollbar-track-color);
}


@keyframes spin{
from {
  /* */
  margin-left: 0%;
  color: blue;
  width: 200px;


}

to {
  /* */
  margin-left: 100%;
  transform: rotate(720deg);


}

}

@media (max-width:768px) { 
   .cards { 
    flex-direction: column;
  } 
} 