
.container1 { 
  
  border: solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: rgb(158, 75, 236);
 
  
} 


.flex1 { 
  position: relative;
  align-items: center;
  display: flex;
  color: white;
  justify-content: space-evenly;
  padding: 5px;
  font-weight: bold;
} 

.nav { 
  position: relative;
  align-items: center;
  display: flex;
  
} 

a { 
  justify-content: space-evenly;
  text-decoration: none;
  padding: 5px;
  font-weight: bold;
  font-size: 20px;
  color: white
} 

#norge { 
  position: relative;
  width: 15%;
  padding: 10px;
  
  
} 




/* LOL */ 

#norge:hover {
  right: -20px;
  top: -25px;
  position: relative;
  border-style: solid; border-width: 2px;
  border-color: blue;
  
}

a:hover, h1:hover {
  position: relative;
  border-style: solid; border-width: 2px;
  border-color: red;
  
}
