:root {
  --primary-bg-color: rgb(158, 75, 236); /* global scope */
  --primary-color: white; 
}

@media (max-width:768px) { 
   .items { 
    
    flex-direction: column;
  
  flex-wrap: wrap;
  
  } 
} 

.container1 { 
  
  border: solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: var(--primary-bg-color);
 
  
} 


.flex1 { 
  position: relative;
  align-items: center;
  display: flex;
  color: var(--primary-color);
  justify-content: space-evenly;
  padding: 5px;
  font-weight: bold;
} 

.nav { 
  position: relative;
  align-items: center;
  display: flex;
  
} 

a { 
  justify-content: space-evenly;
  text-decoration: none;
  padding: 5px;
  font-weight: bold;
  font-size: 20px;
  color: var(--primary-color);
} 



.flag { 
  position: relative;
  width: 15%;
  padding: 10px;
} 

h2 { 
  position: relative;
  display: flex;
  color: black;
  
  
  padding: 5px;
  font-weight: bold;
} 

.cards { 
    font-weight: bold;
    
} 

.flavor { 
    color: white;
    
} 

.items { 
    display: flex;
    height: 1200px;
    width: 1000px;
 border: solid;
  
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: var(--primary-bg-color);
    
} 

.flags { 
  position: relative;
  width: 85%;
  padding: 5px;
} 

/* LOL */ 

.card1:hover, .card2:hover, .card3:hover {
  right: -10px;
  top: -15px;
  position: relative;
  border-style: solid; border-width: 2px;
  border-color: blue;
  background-color: antiquewhite;
  
}

.flavor:hover {
  position: relative;
  border-style: solid; border-width: 2px;
  color: black;
  border-color: red;
  
}

a:hover, h1:hover {
  position: relative;
  border-style: solid; border-width: 2px;
  border-color: red;
  
}
