* {
  font-style: italic;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.container { 
  text-align: center;
  border: solid;
  display: flex;
  flex-direction: row;
  grid-template-columns: 1fr 2fr;
  justify-content: flex-start;
  flex-wrap: wrap;
  row-gap: 10px;
  
} 

.nor { 
  position: relative;
  width: 48%;
  align-items: flex-start;
  display: flex;
  justify-content: center;
  align-self: center;
  
} 

.flag { 
  position: relative;
  width: 48%;
  padding: 10px;
  
} 

.sve { 
  position: relative;
  width: 48%;
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  
} 


#norge:hover, .flag:hover {
  right: -20px;
  top: -25px;
  position: relative;
  border-style: solid; border-width: 2px;
  border-color: blue;
  
}


