

* {
  font-style: italic;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


header { 
  
  border: solid;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
 
  
} 

#norge { 
  position: relative;
  width: 15%;
  padding: 10px;
  
  
} 

.nor { 
  position: relative;
  width: 48%;
  align-items: flex-start;
  display: flex;
  justify-content: flex-end;
  
} 

.flag { 
  position: relative;
  width: 48%;
  padding: 10px;
  
} 

.sve { 
  position: relative;
  width: 48%;
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  
} 

/* LOL */ 

#norge:hover, .flag:hover {
  right: -20px;
  top: -25px;
  position: relative;
  border-style: solid; border-width: 2px;
  border-color: blue;
  
}

li:hover {
  position: relative;
  border-style: solid; border-width: 2px;
  border-color: red;
  
}
